include classylss/gcl_wrap.cpp
include classylss/gcl.py
include classylss/_gcl/include/*
include classylss/*py
include classylss/_gcl/python/*

include depends/class.cfg
include depends/install_class.sh
include depends/Makefile
include depends/class-v2.5.0.tar.gz
include README.rst
include LICENSE
